<footer class="js-footer footer">
  <div class="footer__item footer__item--left">
    <span class="nowrap js-category footer__tag title-font">&nbsp;</span>
    <p class="slider__image__caption mobile">Designed at Black and Black Creative</p>
  </div>
  <div class="footer__item footer__item--right">
    <span class="footer__pagination-count swiper-pagination swiper-pagination-fraction">
      <span class="swiper-pagination-current title-font">1</span> /
      <span class="swiper-pagination-total title-font">33</span>
    </span>
  </div>
</footer>
