<header class="js-header main__inner header text-center container">
  <h1 class="header-wrap">
    <a class="logo-link js--overlay-trigger">
      <span class="link__target title-font">Ananya Arora</span>
    </a>
    <a class="make-block js--overlay-trigger">
      <span class="link__target title-font">About</span>
    </a>
  </h1>
</header>